/InheritanceBasic/nbproject/private/
/InheritanceBasic/build/
/MemberAccessAndInheritance/nbproject/private/
/PracticalExampleOfInheritance/nbproject/private/
/AddDistance/nbproject/private/
/AddDistance/build/
/Student/nbproject/private/
/Student/build/
/Lab9/nbproject/private/
/ToggleButtonJAVAFX/nbproject/private/
/AMorePracticalExample/nbproject/private/
/UseStatic/nbproject/private/
/TryInitialization/nbproject/private/
/DimensionalPolymorphism/nbproject/private/
/JAVAFXWORKSHOP/nbproject/private/
/JAVAFXWORKSHOP/build/
/OOPNumberClass/target/
/Power_Law/target/
/Power_Law/nbproject/private/
/Power_Law/build/
/StudentOOP/nbproject/private/
/StudentOOP/build/
/StudentConstructerAndMethod/nbproject/private/
/StudentConstructerAndMethod/build/
/ClassRectangle/nbproject/private/
/ClassRectangle/build/
