/InheritanceBasic/nbproject/private/
/InheritanceBasic/build/
/MemberAccessAndInheritance/nbproject/private/
/PracticalExampleOfInheritance/nbproject/private/
/AddDistance/nbproject/private/
/AddDistance/build/
/Student/nbproject/private/
/Student/build/
/Lab9/nbproject/private/
/ToggleButtonJAVAFX/nbproject/private/
/AMorePracticalExample/nbproject/private/
/UseStatic/nbproject/private/
/TryInitialization/nbproject/private/
/DimensionalPolymorphism/nbproject/private/
/JAVAFXWORKSHOP/nbproject/private/
/JAVAFXWORKSHOP/build/
/OOPNumberClass/target/
/Power_Law/target/
/Power_Law/nbproject/private/
/Power_Law/build/
/StudentOOP/nbproject/private/
/StudentOOP/build/
/StudentConstructerAndMethod/nbproject/private/
/StudentConstructerAndMethod/build/
/ClassRectangle/nbproject/private/
/ClassRectangle/build/
/Shape/nbproject/private/
/Shape/build/
/Mathematics/nbproject/private/
/Mathematics/build/
/RejistrationSystem/nbproject/private/
/Computer/nbproject/private/
/Computer/build/
/Liquid/nbproject/private/
/SimpleLiquidTest/nbproject/private/
/SimpleLiquidTest/build/
/Purse/nbproject/private/
/Purse/build/
/Main/nbproject/private/
/Main/build/
/TestBankAccount/nbproject/private/
/BankInterestCalculator/nbproject/private/
/BankInterestCalculator/build/
/Example1/nbproject/private/
/Example1/build/
/DivisionExample/nbproject/private/
/DivisionExample/build/
/Withdrawal/nbproject/private/
/Withdrawal/build/
