/InheritanceBasic/nbproject/private/
/InheritanceBasic/build/
/MemberAccessAndInheritance/nbproject/private/
/PracticalExampleOfInheritance/nbproject/private/
/AddDistance/nbproject/private/
/AddDistance/build/
/Student/nbproject/private/
/Student/build/
